# Created by https://www.toptal.com/developers/gitignore/api/xilinxvivado,vivado,c,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=xilinxvivado,vivado,c,visualstudiocode

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb



### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### XilinxVivado ###
#.xci: IP-core property file with core container disabled
#*.dcp (checkpoint files: better be ignored!)
#!*.dcp

### RISC-V Toolchain Build Files ###
# RISC-V toolchain - ignore entire directory (too large to push, users should build locally)
codes/riscv_platform/riscv32_toolchain/
riscv32_toolchain/
# RISC-V toolchain build directories
riscv32_toolchain/riscv-gnu-toolchain/build32/
riscv32_toolchain/riscv-gnu-toolchain/build64/
riscv32_toolchain/riscv-gnu-toolchain/build/

# RISC-V toolchain install directories
riscv32_toolchain/riscv-gnu-toolchain/install/

# RISC-V build logs
build_riscv-gnu-toolchain.log


# Vivado simulation files
*.wdb
*.vcd
*.pb
*.jou
*.log
vivado_pid*.str

# Vivado temporary files
*.tmp
*.cache

### RISC-V Software Build Files ###
# Object files
obj/
build/


### Additional Vivado Files ###
# Vivado checkpoint files (better to ignore)
*.dcp

# Vivado reports
*.rpt

# Vivado temporary directories
.cache/

### Project-specific: DO NOT IGNORE ###
# Makefile should be tracked
!Makefile
!**/Makefile

# TCL scripts should be tracked
!*.tcl
!**/*.tcl

# Shell scripts should be tracked
!*.sh
!**/*.sh

### Vivado IP Generated Files ###
# Processing System IP (auto-generated, can be regenerated)
**/design_*_processing_system7_0_0/

# Vivado project generated directories
*.gen/
*.runs/
*.sim/
*.ip_user_files/
*.hw/
*.srcs/sources_1/bd/*/hdl/

# Vivado project files (too large or auto-generated)
*.xpr
*.bd
*.bda
*.xci

### Large Binary Files ###
# PDF files (can be regenerated or too large)
*.pdf

# PPTX files (source files should be tracked elsewhere)
# Uncomment if you want to ignore PPTX
# *.pptx

